@media (min-width: 1201px) {
    body {
        font-size: 40px;
        background-color: lightblue;
    }
} 
@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: 30px;
        background-color: lightcoral;
    }
}
@media (max-width: 600px) {
    body {
        font-size: 10px;
        background-color: lightsalmon;
    }
}
