.btn-primary {
    background-color:#18bc9c;
    border-color: #0E705C
}
        
.btn-primary:hover, .btn-primary:active , .btn-primary:focus, .btn-primary:active:focus{
    background-color:#0E705C;
    border-color: #041E18;
}
        
.panel-footer {
    color: #fff;
    background-color: #18bc9c;
}
        
div[class*="row"] > h2, div[class*="col-"] > h3 {
    color:#999999;
}