<section id="seccio2" class="container">
    <div class="row text-center">
        <h2>Preparem el vostre futur</h2>
        <hr class="small" />
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Títols homologats</h3>
        <figure></figure>
        <p>Organitzem cursos per completar la vostra formació reglada. Per això us ajudem a preparar la prova d'accés a grau mig i superior, així com cursos de reforç per a batxillerat.</p>
        <a href="" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Competències TIC</h3>
        <figure></figure>
        <p>Oferim la certificació de nivell mitjà i avançat per tal d'acreditar la vostra competència TIC.  Alhora, organitzem cursos específics de programació i disseny web. </p>
        <a href="" class="btn btn-primary">Més...</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Idiomes</h3>
        <figure></figure>
        <p>Avui en dia és indispensable poder demostrar un nivell intermedi o avançat en llengües extrangeres. Segueix el nostre pla per aconseguir millorar el teu nivell.</p>
        <a href="" class="btn btn-primary">Més...</a>
      </div>
    </div>
    <div class="row text-center">
        <hr class="small" />
    </div>    
</section>