.navbar−default {
    background-color: #18bc9c;
}
.navbar−default .navbar−nav > li > a {
    color: #DBFBF4;
}
.navbar−default .navbar−nav > li > a:hover,
.navbar−default .navbar−default .navbar−nav > li > a:focus {
    color: #fff;
}
.navbar−default .navbar−nav > .active > a,
.navbar−default .navbar−nav > .active > a:hover,
.navbar−default .navbar−nav > .active > a:focus {
    color: #fff;
    background-color: #0E705C;
}





