<sectionid="header"class="container−fluid">
    <div class="row">
        <nav class="navbar navbar−default">
            <div class="container−fluid">
                <div class="navbar−header">
                    <button type="button"class="navbar−toggle"data−toggle="collapse"data−target="#bs−example−navbar−collapse−1">
                                        <span class="sr−only">Menú</span>
                                        <span class="icon−bar"></span>
                                        <span class="icon−bar"></span>
                                        <span class="icon−bar"></span>
                    </button>
                </div>
                <div class="collapse navbar−collapse"id="bs−example−navbar−collapse−1">
                    <ul class="nav navbar−nav">
                        <li class="active"><a href="#">Inici</a></li>
                        <li><a href="#seccio2">Cursos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>