.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
.carousel-control.right {
    background-image:linear-gradient(to right, #18bc9c 0%, #DBFBF4 100%);
}
.carousel-control.left {
    background-image:linear-gradient(to left, #18bc9c 0%, #DBFBF4 100%);
}
        