<section id="seccio1" class="container-fluid"> 
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                 <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                    <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="./img/imatge1.jpg" alt="ESO i Batxillerat" width="460" height="345">
                        <div class="container">
                            <div class="carousel-caption">
                                <h2>Acadèmia <strong>esTUdia</strong></h2>
                            <h3>Us facilitem l'obtenció de títols oficials.</h3>
                                <p class="glyphicon glyphicon-thumbs-up"></p>
                                <p><a class="btn btn-lg btn-primary" href="#seccio2" role="button">Més informació</a></p> 
                        </div>
                    </div>
                 </div>

                <div class="item">
                        <img src="./img/imatge1.jpg" alt="Informàtica" width="460" height="345">
                    <div class="container">
                        <div class="carousel-caption">
                            <h2>Acadèmia <strong>esTUdia</strong></h2>
                            <h3>Assoleix les competències TIC.</h3>
                            <p class="glyphicon glyphicon-thumbs-up"></p>
                            <p><a class="btn btn-lg btn-primary" href="#seccio2" role="button">Més informació</a></p> 
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <img src="./img/imatge1.jpg" alt="Idiomes" width="460" height="345">
                    <div class="container">
                        <div class="carousel-caption">
                            <h2>Acadèmia <strong>esTUdia</strong></h2>
                            <h3>Millora la teva fluïdesa en llengües extrangeres.</h3>
                                <p class="glyphicon glyphicon-thumbs-up"></p>
                            <p><a class="btn btn-lg btn-primary" href="#seccio2" role="button">Més informació</a></p>  
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Següent</span>
                </a>
            </div>
        </div>
    </div>
</section>