.navbar-default {
    background-color: #18bc9c;
}
.navbar-default .navbar-nav > li > a {
    color: #DBFBF4;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0E705C;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-control.right {
    background-image:linear-gradient(to right, #18bc9c 0%, #DBFBF4 100%);
}
.carousel-control.left {
    background-image:linear-gradient(to left, #18bc9c 0%, #DBFBF4 100%);
}
.btn-primary {
    background-color:#18bc9c !important;
    border-color: #0E705C !important ;
}
        
.btn-primary:hover, .btn-primary:active , .btn-primary:focus, .btn-primary:active:focus{
    background-color:#0E705C !important;
    border-color: #041E18 !important;
}
        
.panel-footer {
    color: #fff;
    background-color: #18bc9c;
}
        
div[class*="row"] > h2, div[class*="col-"] > h3 {
    color:#999999;
}
.panel-footer {
    color: #fff;
    background-color: #18bc9c;
}