body {
    border: 0;
    margin: 0;
    padding: 0;
    background: whitesmoke url("img/fondo.gif") repeat-x;
    color: #192666;
}

p {
    border: 0;
    margin: 15px 0;
    padding: 0;
}

div {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
}

a, img, span {
    border: 0;
    margin: 0;
    padding: 0;
}


.clear {
    clear: both;
}


#contenedor {
    width: 770px;
    margin: 50px auto 0 auto;
}

#cabecera {
    position: relative;
    width: 770px;
    height: 100px;
    margin: 0;
    padding: 0;
    background: #233C9B url("img/cabecera.jpg") 0 0 no-repeat;
    color: #FFF;
}

#cabecera #logo {
    position: absolute;
    top: 35px;
    left: 35px;
    margin: 0;
}

#cabecera #logo a {
    color: #FFF;
}

#cabecera #logo a:hover {
    color: #B5C4E3;
    text-decoration: underline;
}

#cabecera #buscador {
    position: absolute;
    top: 35px;
    right: 20px;
    width: 20rem;
}

#cabecera #buscador form {
    position: relative;
}

#cabecera #buscador input[name="busqueda"] {
    width: 14rem;
    margin: 2px 8px;
    padding: 6px 0;
    background: #FFF;
    border-radius: 4px;
}

#cabecera #buscador input[name="botonbuscar"] {
    position: absolute;
    top: 5px;
    right: 0px;
}

#cabecera #buscador fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

#cabecera #buscador fieldset {
    width: 13rem;
}

#cabecera #buscador legend {
    display: none;
}

#menu {
    background: #192666;
    margin: 0 5px;
    padding: 10px 0 0 0;
}

#menu ul {
    margin: 0 10px;
    padding: 0;
    list-style: none;
}

#menu ul li {
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
}

#menu ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 7px 15px;
    border: 0;
    color: #B5C4E3;
    cursor: pointer;
}

#menu ul li.seleccionado a {
    background: #FFF;
    border-radius: 5px;
    color: orange;
}

#menu ul li.seleccionado a span.tab-l {
    position: absolute;
    top: 0;
    left: 0;
    _left: -15px;
    width: 8px;
    height: 8px;
}

#menu ul li.seleccionado a span.tab-r {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
}

#contenido {
    padding-top: 20px;
    width: 760px;
    margin-left: 5px;
    background: white;
}

#principal {
    float: left;
    width: 530px;
    _width: 550px;
    margin: 0;
    padding: 0 0 0 20px;
}

#principal .articulo {
    clear: both;
    margin: 0;
    padding: 20px;
    background: url("img/fondo_articulo.jpg") 0 0 no-repeat;
}

#principal .articulo h2 {
    margin: 0 -20px;
    padding: 10px;
    background: #DEE5FD url("../design/content_title_bg.gif") 0 0 repeat-y;
    color: #192666;
}

#principal .articulo h2 span {
    padding-left: 25px;
}

#principal .articulo p {
    text-align: justify;
}

#principal .info {
    margin: 10px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #DEE5FD;
    color: lightblue;
}

#principal .info a {
    color: lightblue;
}

#principal .info a:hover {
    color: orange;
}

#principal .info span.fecha, #principal .info span.categoria, #principal .info span.autor, #principal .info span.comentarios {
    padding-left: 15px;
}

#principal .info span.fecha {
    background: url("img/icono_fecha.gif") 0 50% no-repeat;
}

#principal .info span.categoria {
    background: url("img/icono_categoria.gif") 0 50% no-repeat;
    margin-left: 8px;
}

#principal .info span.autor {
    background: url("img/icono_autor.gif") 0 50% no-repeat;
    margin-left: 8px;
}

#principal .info span.comentarios {
    background: url("img/icono_comentarios.gif") 0 50% no-repeat;
    margin-left: 8px;
}

#secundario {
    float: left;
    width: 180px;
    margin: 0;
    padding: 0;
    background: rgb(145, 178, 230) url("img/fondo_columna.gif") 0 0 no-repeat;
}

#secundario {
    padding: 20px 10px;}

#secundario h3 {
    padding: 13px 15px 14px 15px;
    margin: 0 -10px 15px -10px;
    background: #A0B9F3 url("../design/col_title_bg.gif") 0 0 repeat-y;
    color: #192666;
}

#secundario #sobremi {
    margin-bottom: 15px;
    line-height: 130%;
}

#secundario #sobremi p {
    margin: 0;
}

#secundario ul#categorias {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

#secundario ul#categorias li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #E0E8FA;
}

#secundario ul#categorias li a {
    display: block;
    padding: 3px 0 3px 22px;
    text-decoration: none;
}

#secundario ul#categorias li a:hover {
    background-color: #D3DFF8;
    color: #192666;
}

#secundario ul#categorias li.seleccionado a {
    background: #b2bfe0 url("img/icono_elemento_seleccionado.gif") 5px 50% no-repeat;
}

#secundario ul#archivo {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

#secundario ul#archivo li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #E0E8FA;
}

#secundario ul#archivo li a {
    display: block;
    padding: 3px 0 3px 22px;
    text-decoration: none;
}

#secundario ul#archivo li a:hover {
    background-color: #D3DFF8;
    color: #192666;
}

#secundario ul#archivo li.seleccionado a {
    background: #E0E8FA url("img/icono_elemento_seleccionado.gif") 5px 6px no-repeat;
}

#secundario ul#enlaces {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

#secundario ul#enlaces li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
}

#secundario ul#enlaces li a {
    display: block;
    padding: 3px 0 3px 22px;
    text-decoration: none;
}

#secundario ul#enlaces li a:hover {
    background-color:  white;
    color: blue;
}

#pie {
    position: relative;
    clear: both;
    width: 770px;
    height: 60px;
    margin-bottom: 50px;
    color: lightblue;
}

#pie a {
    color: lightblue;
}

#pie a:hover {
    color: blue;
}


#pie p#copyright {
    position: absolute;
    top: 10px;
    left: 40px;
    margin: 0;
}


body {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 12pt
}

a {
    color: #000;
}